body {
  background-image: white;
}

section {
  overflow-x:hidden;
  color: black;
}

h1 {
  font-size: 75%;
}

h2 {
  font-size: 2.55vw;
  padding-bottom: 2%;
}

h3 {
  font-size: 2.10vw;
}

p {
  font-size: 1.5vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2, h3, li, p {
  color: #474747 !important;
}

/* 
 * Hero Section
 */

nav {
  font-size: 3.5vw;
  color: rgb(238, 118, 5);
  padding: 2vw 0
}

.navbar-nav {
  flex-direction: row;
}

.hero h1 {
  position: absolute;
}

.hero a {
  background: #fff;
  border-radius: 30px;
  border: solid;
  color: black;
  display: inline;
  font-size: 1.5vw;
  font-weight: 700;
  padding: 0.5vw 1vw;
  margin: 2vw 0;
  text-decoration: none;
  text-transform: uppercase;
}

.hero a:hover,
.hero a:focus {
  background-color: black;
  color: #fff;
  transition: all 0.2s ease;
}

/* 
 * About Section
 */

.about {
  padding: 3vw 0;
}

.about p {
  padding-bottom: 1vw;
}

.about a {
  color: rgb(238, 118, 5);
}

/*
 * Positions Section
 */
/*
.positions {
  padding-bottom: 5%;
  position: relative;
}

.positions ul {
  padding-bottom: 5%;
}

.positions li {
  font-size: 1.5vw;
  padding-top: 1.5%;
}
*/
/*
 * Footer Section
 */

.footer {
  padding: 2vw 0;
}


.footer img {
  margin-bottom: 0.5vw;
}

.footer a:hover {
  text-decoration: none;
}

hr {
  background-color: black;
  height: 1px;
}

.social_icon {
  color: rgb(238, 118, 5);
}

.fa-2x {
  font-size: 2vw;
}
