---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="text-center">
      <h2>About</h2>
    </div>
    {{ site.about | markdownify }}
  </div>
</section>

<section class="positions">
  <div class="container">
    <div class="text-center">
      <h2>Positions</h2>
    </div>
    {% for item in site.positions %}
      <div class="text-center">
        <h3>{{ item.position }}</h3>
      </div>
      <ul>
      {% for bullet in item.details %}
        <li>{{ bullet.bullet }}</li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>
