.formOne{
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
}

.formOne h2{
  background: navy;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.formOne input[type="text"],
.formOne input[type="email"],
.formOne textarea,
.formOne select
{
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.formOne input[type="buton"]
{
  background-color: orange;
  display: inline-block;
  cursor: grab;
  font-size: 14px;
  text-decoration: none;
}

.menuBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}

.menuBar li{
  float: left;
}

.menuBar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px, 16px;
  text-decoration: none;
}

.menuBar a:hover{
  background-color: darkorange;
}
</style>
